<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS Styles -->
    <link rel = "stylesheet" href = "../../css/style.css">
    <!-- Asset Imports: Offline-->
    <link rel = "stylesheet" href = "../../../libraries/fontawesome/css/fontawesome.css">
    <link rel = "stylesheet" href = "../../../libraries/fontawesome/css/brands.css">
    <link rel =" stylesheet" href = "../../../libraries/fontawesome/css/solid.css">
    <link rel = "stylesheet" href = "../../../libraries/fontawesome/css/all.min.css">
    <!-- Asset Imports: Online -->
</head>
<body>
    <main>
        Template
    </main>
    <!-- JS Scripts -->
    <script src="../../javascript/main.js"></script>
    <!-- External JS -->
    <script src="https://kit.fontawesome.com/8c9fcb09a3.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>